{# For backward compatibility, the license key will be written if it is defined #}
{% if newrelic_infra_config_license_key is defined %}
license_key: {{ newrelic_infra_config_license_key }}
{% endif %}
{% if newrelic_infra_config_display_name is defined %}
display_name: {{ newrelic_infra_config_display_name }}
{% endif %}
{% if newrelic_infra_config_event_queue_depth is defined %}
event_queue_depth: {{ newrelic_infra_config_event_queue_depth }}
{% endif %}
log_file: "{{ newrelic_infra_config_log_path }}/{{ newrelic_infra_config_log_file }}"
{% if newrelic_infra_config_log_to_stdout is defined %}
log_to_stdout: {{ newrelic_infra_config_log_to_stdout }}
{% endif %}

{% if newrelic_infra_config_net_iface_filter is defined and newrelic_infra_config_net_iface_filter | length > 0 %}
network_interface_filters:
  prefix:
{% for iface in newrelic_infra_config_net_iface_filter %}
    - {{ iface }}
{% endfor %}
{% endif %}

{% if newrelic_infra_custom_attributes is defined and newrelic_infra_custom_attributes | length > 0 %}
custom_attributes:
{% for item in newrelic_infra_custom_attributes %}
      {{ item }}: {{ newrelic_infra_custom_attributes[item] }}
{% endfor %}
{% endif %}

