service_checks:
{% for check in check_item.service_checks %}
  - name: {{ check.name }}
    command: [{% for cmd_part in check.command %} "{{ cmd_part }}", {% endfor %}]
    parse_output: {{ check.parse_output }}
{% if check.labels is defined %}
    labels:
{% for label in check.labels %}
      {{ label }}: {{ check.labels[label] }}
{% endfor %}
{% endif %}
{% endfor %}
