integration_name: com.newrelic.nagios

instances:
{% for config in nri_nagios_config %}
  - name: {{ config.name }}
    command: {{ config.command }}
    arguments:
      service_checks_config: {{ config.service_checks_config }}
{% endfor %}
